.Button {
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: #ccc;
    border: none;
    color: #333; 
    cursor: pointer;
    font: inherit; 
    font-weight: bold;
    outline: none;
}

.Button.sm {
    font-size: 12px;
}

.Button.xs {
    margin: 1px;
    padding: 1px;
    font-size: 10px;
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    background-color: #5C9210;
    color: #fff;
}

.Danger {
    background-color: #944317;
    color: #fff;
}